@{
    ViewBag.Title = "Adventurer's Guild";
}

<div id="welcomingTitle">
    <p>News</p>
</div>

<div id="welcoming">
    <article>
        <p><strong>Hello and welcome to the Adventure's Guild.</strong></p>
        <br />
        <p>Grab your friends and enjoy the company!</p>
    </article>
</div>


<div id="listTitle">
    <p>Status Updates</p>
</div>

<div id=bodyList>
    <section>
        <img src="~/Images/bb.jpg"><article>Killed 20 Ogres today and only recieved 100 gold? WTF?!</article>
    </section>
    <section>
        <img src="~/Images/dragoon.jpg"><article>Got a great party, with an amazing White Mage, they healed like no other could possibly, I totally suggest you check out Bob Wanderer!</article>
    </section>
    <section>
        <img src="~/Images/rm.jpg"><article>Left my home today, found a place to stay.  Stay tuned...</article>
    </section>

</div>    