@{
    ViewBag.Title = "Profile";
}

<div id="profileImage">
    <img src="~/Images/dk.jpg" />
    @Html.ActionLink("Gallery", "Gallery")
</div>

<div id="name">
    <p>Cecil Harvey</p>
</div>

<div id="bioTitle">BIO</div>
<div id="bio">
    <section>
        I live life by the sword.  I steal souls to become stronger all while obeying my king.  Anything he says i will do.  I've burned villages and slaughtered giants.  Nothing will stand in my way.  I am a sword of destruction!
    </section>
</div>

<div id="fovoriteTitle">FAVORITES</div>
<div id="favorites">
    <section>
        <p><strong>Book:</strong> Jack and the beanstalk</p>
        <p><strong>Movie:</strong> Voyage of the Dawntreader</p>
        <p><strong>Hobby:</strong> Polishing weapons</p>
    </section>
</div>